:root {
  /* Color properties */
  --color-white: #e0e0e0;
  --color-black: #0a0a0a;

  --color-bg: #ffffff;
  --color-bg-light: #f3f4fd;
  --color-bg-light-hover: #C0C6F6;
  --color-bg-light-active: #C0C6F6;

  --color-border: #494D6F;

  --color-text: #27223D;
  --color-text-light: #393350;
  --color-text-lighter: #706891;
  --color-text-white: #fff;

  --color-accent: #5665EA;
  --color-accent-bg: #551639;
  --color-accent-light: #ffd7eb;

  --color-highlight-bg: #FFDE89;
}