.alert {
  display: flex;

  position: fixed;
  top: 64px;
  right: 64px;
  padding: 12px 16px;
  border-radius: 16px;

  background-color: var(--red);
  color: var(--bg);

  h2 {
    font-size: 1.6rem;
  }

  button {
    all: unset;
    transition: 0.2s all ease-in-out;
    font-size: 1.6rem;
    color: #fff;
    display: block;
    margin-left: 16px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    align-items: center;

    &:hover {
      background-color: rgba(255, 255, 255, 0.25);
    }

    img {
      display: inline-block;
      width: 14px;
      height: 14px;
      transform: translateY(1px);
    }
  }
}
