.tabs {
  display: flex;
  position: relative;
  margin-bottom: 2em;
  padding: 0 8px;
  // border-bottom: 1px solid var(--blue);
  // border-bottom: 1px solid rgba(var(--blue), 0.1);

  &:after {
    content: "";
    transition: 0.2s all ease-in-out;
    display: block;
    position: absolute;
    inset: 0;
    background-color: var(--blue);
    opacity: 0.2;
    z-index: -1;
    border-radius: 8px;
  }

  button {
    all: unset;
    transition: 0.2s all ease-in-out;

    border-radius: 4px 4px 0 0;

    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    opacity: 0.5;

    &:hover:not(.active) {
      border-radius: 4px;
      opacity: 1;

      background-color: rgba(#fff, 0.01);
    }

    &.active {
      border-color: var(--text);
      opacity: 1;
    }
  }
}

.tabs-content {
  & > div {
    display: none;

    &.active {
      display: block;
    }
  }
}

.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 532px;
  // padding: 16px;

  &.container-wide {
    max-width: 856px;
  }
}

.loading {
  display: block;

  text-align: center;
  height: 156px;
  line-height: 156px;
  font-size: 2rem;
  border-radius: 8px;
  border: 1px solid var(--blue);
}
