:root {
  --text: rgb(212, 212, 212);
  --bg: rgb(13, 13, 28);
  --blue: rgb(17, 31, 77);
  --red: rgb(253, 0, 84);
  --highlight: rgb(255, 213, 96);
}

@import "./_generic.scss";
@import "./_tracks.scss";
@import "./_players.scss";
@import "./_search.scss";
@import "./_alerts.scss";

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 62.5%;

  -ms-overflow-style: none;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: "Roboto-Regular";
  background-color: var(--bg);
  color: var(--text);
  padding-top: 2em;
}

h1,
h2,
h3,
h4,
h5,
strong {
  font-family: "Roboto-Bold";
}

.description {
  display: block;
  margin-bottom: 4em;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 0.75em;
    line-height: 1.5em;

    strong {
      color: var(--red);
      text-transform: uppercase;
    }

    &.credits {
      margin-bottom: 1.5em;

      font-size: 1.2rem;

      strong {
        text-transform: initial;
        color: var(--highlight);
      }
    }
  }
}
