:root {
  --text: rgb(221, 221, 221);
  --bg: rgb(13, 13, 28);
  --blue: rgb(17, 31, 77);
  --red: rgb(253, 0, 84);
  --highlight: rgb(255, 213, 96);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto-Regular";
  background-color: var(--bg);
  color: var(--text);
  padding-top: 5em;
}

h1,
h2,
h3,
h4,
h5,
strong {
  font-family: "Roboto-Bold";
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
  border-bottom: 1px solid var(--blue);
}

.tabs button {
  all: unset;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  position: relative;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.tabs button:hover {
  border-color: var(--blue);
}

.tabs button:after {
  content: "";
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  display: block;
  position: absolute;
  inset: 0;
  background-color: var(--blue);
  opacity: 0;
}

.tabs button.active {
  border-color: var(--blue);
}

.tabs button.active:after {
  opacity: 0.25;
}

.tabs-content > div {
  display: none;
}

.tabs-content > div.active {
  display: block;
}

.track-list {
  display: block;
}

.track {
  display: block;
  margin-bottom: 16px;
}

.track.new-record {
  position: relative;
}

.track.new-record:after {
  content: "";
  text-indent: 32px;
  white-space: nowrap;
  line-height: 24px;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  right: -8px;
  top: -8px;
  border-radius: 50%;
  background-color: var(--highlight);
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
  background-image: url(../icons/medal-duotone.svg);
}

.track.new-record details[open] summary {
  background-color: var(--highlight);
  color: var(--bg);
}

.track.new-record details summary {
  border-color: var(--highlight);
}

.track.new-record details summary:hover {
  background-color: var(--highlight);
  color: var(--bg);
}

.track.new-record .track-content .track-time:first-of-type {
  position: relative;
}

.track.new-record .track-content .track-time:first-of-type .track-player p {
  font-family: "Roboto-Bold";
  font-size: 1.4rem;
}

.track.new-record .track-content .track-time:first-of-type strong:before {
  content: "NEW!";
  display: block;
  font-size: 1.4rem;
  color: var(--highlight);
}

.track .track-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
}

.track .track-player p {
  display: block;
  font-size: 1.2rem;
}

.track .track-player img {
  display: block;
  max-height: 12px;
  max-width: 18px;
}

.track details > summary:first-of-type {
  list-style-type: none;
}

.track details[open] summary {
  background-color: var(--blue);
}

.track details summary {
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 16px;
  gap: 16px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  cursor: pointer;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-radius: 8px;
  border: 1px solid var(--blue);
}

.track details summary:hover {
  background-color: var(--blue);
}

.track details summary ::-webkit-details-marker {
  display: none;
}

.track details summary .track-name h2 {
  font-size: 1.6rem;
}

.track details summary .track-name span {
  font-size: 1.2rem;
  opacity: 0.75;
}

.track details summary .track-record {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.track details summary .track-record strong {
  font-size: 2rem;
  color: var(--red);
  font-weight: 900;
}

.track details summary .track-record p {
  display: block;
  font-size: 1.2rem;
}

.track .track-content {
  padding: 8px 16px;
  margin-top: 12px;
}

.track .track-content .track-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 32px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.track .track-content .track-time:last-child {
  border-bottom: none;
}

.track .track-content .track-time strong {
  font-size: 1.8rem;
}

.track .track-content .track-time span {
  font-size: 1.2rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
  opacity: 0.75;
}

.player-table {
  display: block;
  width: 100%;
}

.player-table .player-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 8px;
  margin-bottom: 0.85em;
  padding-bottom: 0.85em;
  border-bottom: 1px solid var(--blue);
  gap: 16px;
}

.player-table .player-row:last-of-type {
  border-bottom: none;
}

.player-table .player-row.player-table-headers {
  margin-bottom: 1.5em;
  padding-bottom: 0px;
  border-bottom: none;
}

.player-table .player-row.player-table-headers strong,
.player-table .player-row.player-table-headers span {
  font-size: 1.2rem;
}

.player-table .player-row > div:nth-child(1),
.player-table .player-row > span:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  width: 30%;
}

.player-table .player-row > div:nth-child(2),
.player-table .player-row > span:nth-child(2) {
  min-width: 192px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.player-table .player-row > div:nth-child(2) strong,
.player-table .player-row > span:nth-child(2) strong {
  color: var(--highlight);
}

.player-table .player-row > div:nth-child(2) span,
.player-table .player-row > span:nth-child(2) span {
  font-size: 1.2rem;
  margin-top: 2px;
}

.player-table .player-row > div:nth-child(3),
.player-table .player-row > div:nth-child(4),
.player-table .player-row > span:nth-child(3),
.player-table .player-row > span:nth-child(4) {
  min-width: 96px;
  text-align: right;
}

.player-table .player-row > div:nth-child(3) strong,
.player-table .player-row > div:nth-child(4) strong,
.player-table .player-row > span:nth-child(3) strong,
.player-table .player-row > span:nth-child(4) strong {
  color: var(--red);
}

.player-table .player-row > div:nth-child(4),
.player-table .player-row > span:nth-child(4) {
  min-width: 64px;
}

.player-table .player-row > div img,
.player-table .player-row > span img {
  width: 24px;
  height: 16px;
  -o-object-fit: contain;
  object-fit: contain;
}

.search {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 16px;
  background-color: var(--bg);
  z-index: 10;
}

.search input[type="search"] {
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  font-family: "Roboto-Regular";
  border: 1px solid var(--red);
  color: var(--red);
  display: block;
  margin-bottom: 32px;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 1.4rem;
  width: 100%;
  padding-right: 48px;
  background-color: transparent;
  z-index: 5;
}

.search input[type="search"] ::-webkit-input-placeholder {
  color: var(--red);
}

.search input[type="search"] :-ms-input-placeholder {
  color: var(--red);
}

.search input[type="search"] ::-ms-input-placeholder {
  color: var(--red);
}

.search input[type="search"] ::placeholder {
  color: var(--red);
}

.search input[type="search"]:not(:placeholder-shown),
.search input[type="search"]:focus {
  background-color: var(--red);
  border-color: var(--red);
  color: var(--text);
}

.search input[type="search"]:not(:placeholder-shown) + button {
  display: block;
}

.search button {
  all: unset;
  display: none;
  width: 40px;
  position: absolute;
  font-size: 1rem;
  right: 0;
  top: 16px;
  bottom: 0;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  z-index: 25;
}

.search button img {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

#results {
  text-align: center;
  margin: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateY(-20px) translateX(-50%);
  transform: translateY(-20px) translateX(-50%);
}

.notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 64px;
  right: 64px;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--red);
  color: var(--bg);
}

.notification h2 {
  font-size: 1.6rem;
}

.notification button {
  all: unset;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  font-size: 1.6rem;
  color: #fff;
  display: block;
  margin-left: 16px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
}

.notification button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.notification button img {
  width: 14px;
  height: 14px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 8px;
  cursor: pointer;
}

input[type="checkbox"] + label:before {
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid var(--red);
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 4px;
}

input[type="checkbox"] + label:after {
  content: "";
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  display: block;
  position: absolute;
  left: 4px;
  top: 2px;
  width: 14px;
  height: 14px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./icons/check-solid.svg);
  opacity: 0;
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

input[type="checkbox"]:checked + label:before {
  background-color: var(--red);
}

.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 532px;
  padding: 16px;
}

.container.container-wide {
  max-width: 856px;
}

.description {
  display: block;
  margin-bottom: 3em;
}

.description h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.description p {
  font-size: 1.4rem;
  margin-bottom: 0.5em;
  line-height: 1.4em;
}

.description p b {
  color: var(--red);
}

.description p:last-of-type {
  margin-bottom: 1.5em;
}

.legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 1em;
}

.legend span {
  font-size: 1.1rem;
}
/*# sourceMappingURL=index.css.map */
