.filter-wrap {
  @include flex(8px, space-between);
  margin-bottom: 16px;
  z-index: 1000;
  position: sticky;
  top: 8px;

  &.players {
    .form-item {
      width: 100%;
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: -8px;
    height: calc(var(--form-item-height) + 16px);
    left: -128px;
    right: -128px;
    background-color: rgba(#fff, 0.35);
    backdrop-filter: blur(20px);
  }
}
