.route-map-list {
  .filter-wrap {
    @include flex(8px);
    margin-bottom: 16px;
    z-index: 1000;
    position: sticky;
    top: 8px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      top: -8px;
      height: calc(var(--form-item-height) + 16px);
      left: - 80px;
      right: -80px;
      background-color: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(20px);
    }
  }

  .map-list {
    border: 1px solid var(--color-border);
    border-radius: 12px;
    overflow: hidden;

    .map-item {
      border-bottom: 1px solid var(--color-border);
      width: 100%;

      &:last-child {
        border-bottom: 0;
      }

      .details-button {
        @include flex(32px, flex-start);
        padding: 24px 16px;
        width: 100%;
        text-align: left;

        &.active {
          background-color: var(--color-bg-light-active) !important;
        }

        &:hover {
          background-color: var(--color-bg-light);
        }

        .map-name {
          font-size: 1.6rem;
          flex: 1;
        }

        .map-player,
        .map-time {
          font-size: 1.6rem;
          color: var(--color-text);
        }

        .map-time {
          @include font(700);
          min-width: 80px;
        }
      }

      .map-content {
        @include grid(0, 2);
        padding: 24px;

        .map-details {
          table {
            width: 100%;

            th,
            td {
              @include font(400);
              font-size: 1.4rem;
              padding-bottom: 16px;
              vertical-align: middle;
            }

            th {
              text-align: left;
              color: var(--color-text-lighter);
            }

            td {
              text-align: left;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}