.route-players {
  padding-bottom: 10vh;

  .route-players-container {}

  ul {
    border: 1px solid var(--color-border);
    border-radius: 12px;
    overflow: hidden;

    li {
      @include flex(16px);
      padding: 24px 16px;
      border-bottom: 1px solid var(--color-border);

      &:last-child {
        border-bottom: 0;
      }

      .player-position {
        font-size: 1.2rem;
        color: var(--color-text-lighter);
      }
    }
  }
}