:root {
  // Palette 1
  --text: rgb(221, 221, 221);
  --bg: rgb(13, 13, 28);
  --blue: rgb(17, 31, 77);
  --red: rgb(253, 0, 84);
  --highlight: rgb(255, 213, 96);
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('./fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('./fonts/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto-Regular';
  background-color: var(--bg);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
strong {
  font-family: 'Roboto-Bold';
}

.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 532px;
  padding: 16px;
  padding-top: 5em;

  h1 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 0.5em;
  }

  & > p {
    font-size: 1.4rem;
    margin-bottom: 2.5em;
  }
}

.legend {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 1em;

  span {
    font-size: 1.1rem;
  }
}

.track {
  display: block;
  margin-bottom: 16px;

  &.new-record {
    position: relative;

    &:after {
      // content: 'New Record!';
      content: '';
      text-indent: 32px;
      white-space: nowrap;
      line-height: 24px;
      display: block;
      position: absolute;
      width: 24px;
      height: 24px;
      right: -8px;
      top: -8px;
      border-radius: 50%;
      background-color: var(--highlight);
      background-position: center;
      background-size: 16px;
      background-repeat: no-repeat;
      background-image: url(./icons/medal-duotone.svg);
    }

    details {
      &[open] {
        summary {
          background-color: var(--highlight);
          color: var(--bg);
        }
      }
      summary {
        border-color: var(--highlight);

        &:hover {
          background-color: var(--highlight);
          color: var(--bg);
        }
      }
    }

    .track-content {
      .track-time:first-of-type {
        position: relative;

        .track-player {
          p {
            font-family: 'Roboto-Bold';
            font-size: 1.4rem;
          }
        }
        strong {
          &:before {
            content: 'NEW!';
            display: block;
            font-size: 1.4rem;
            // margin-left: 8px;
            color: var(--highlight);
          }
        }
      }
    }
  }

  .track-player {
    display: flex;
    align-items: center;
    gap: 8px;

    p {
      display: block;
      font-size: 1.2rem;
    }

    img {
      border-radius: 2px;
      display: block;
      max-height: 12px;
      max-width: 18px;
    }
  }

  details {
    & > summary:first-of-type {
      list-style-type: none;
    }

    &[open] {
      summary {
        background-color: var(--blue);
      }
    }

    summary {
      transition: 0.2s all ease-in-out;
      display: flex;
      padding: 12px 16px;
      gap: 16px;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
      cursor: pointer;
      flex-wrap: nowrap;
      border-radius: 8px;
      border: 1px solid var(--blue);

      &:hover {
        background-color: var(--blue);
      }

      ::-webkit-details-marker {
        display: none;
      }

      .track-name {
        h2 {
          font-size: 1.6rem;
        }

        span {
          font-size: 1.2rem;
          opacity: 0.75;
        }
      }

      .track-record {
        flex: 1;
        text-align: right;

        strong {
          font-size: 2rem;
          color: var(--red);
          font-weight: 900;
        }

        p {
          display: block;
          font-size: 1.2rem;
        }
      }
    }
  }

  .track-content {
    padding: 8px 16px;
    margin-top: 12px;

    .track-time {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 32px;
      margin-bottom: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid rgba(#fff, 0.1);

      &:last-child {
        border-bottom: none;
      }

      strong {
        font-size: 1.8rem;
      }

      span {
        font-size: 1.2rem;
        flex: 1;
        text-align: right;
        opacity: 0.75;
      }
    }
  }
}

.search {
  display: block;
  position: sticky;
  top: 0;
  padding-top: 16px;
  background-color: var(--bg);
  z-index: 10;

  input[type='search'] {
    transition: 0.2s all ease-in-out;

    font-family: 'Roboto-Regular';
    border: 1px solid var(--red);
    color: var(--red);
    display: block;
    margin-bottom: 32px;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 1.4rem;
    width: 100%;
    padding-right: 48px;
    background-color: transparent;
    z-index: 5;

    ::placeholder {
      color: var(--red);
    }

    &:not(:placeholder-shown),
    &:focus {
      background-color: var(--red);
      border-color: var(--red);
      color: var(--text);
    }

    &:not(:placeholder-shown) {
      & + button {
        display: block;
      }
    }
  }

  button {
    all: unset;
    display: none;
    width: 40px;
    position: absolute;
    font-size: 1rem;
    right: 0;
    top: 16px;
    bottom: 0;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    z-index: 25;

    img {
      display: inline-block;
      width: 16px;
      height: 16px;
      transform: translateY(2px);
    }
  }
}

#results {
  text-align: center;
  margin: 0;
  transform: translateY(-16px);
}

.notification {
  display: flex;
  position: fixed;
  bottom: 64px;
  right: 64px;
  padding: 12px 16px;
  border-radius: 16px;

  background-color: var(--red);
  color: var(--bg);

  button {
    all: unset;
    font-size: 1.6rem;
    color: #fff;
    display: block;
    margin-left: 8px;

    img {
      width: 14px;
      height: 14px;
    }
  }
}
