<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TM Records | Hivecom</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="static/reset.css" />
    <link rel="stylesheet" type="text/css" href="static/style.css" />
  </head>

  <body id="home">
    <main class="wrapper">
      <div class="container">
        <h1>TMNF Map list</h1>
        <p>Collection of records grouped per map from the Hivecom community members.</p>

        <form class="search" autocomplete="off">
          <input type="search" autocomplete="pleasedontautocomplete" id="search" placeholder="Search maps/users" />
          <button id="clear">
            <img src="../static/icons/times-solid.svg" />
          </button>
        </form>
        <p id="results" style="display: none"></p>

        <div class="legend">
          <span>Track</span>
          <span>Best Time</span>
        </div>

        {% for (map, records) in maps %} {% let record = records.get(0).unwrap() %}
        <div class="track" data-keyword="{{map.name}};;{{record.player}}" id="{{map.id}}">
          <details>
            <summary>
              <div class="track-name">
                <h2>{{map.name}}</h2>
                <span>{{map.author}}</span>
              </div>

              <div class="track-record">
                <strong>{{record.time}}</strong>
                <p>{{record.player}}</p>
              </div>
            </summary>

            <div class="track-content">
              {% for record in records %}
              <div class="track-time">
                <strong>{{record.time}}</strong>
                <div class="track-player">
                  <img src="static/flags/{{record.country}}.svg" alt="{{record.country}}" />
                  <p>{{record.player}}</p>
                </div>
                <span>{{record.date.format("%d.%m.%Y %H:%M")}}</span>
              </div>
              {% endfor %}
            </div>
          </details>
        </div>
        {% endfor %}
      </div>
    </main>
  </body>
  <script type="text/javascript" src="static/index.js"></script>
</html>
