@import "./text";
@import "./checkbox";
@import "./select";

:root {
  --form-item-height: 42px;
}

.form-item {
  height: var(--form-item-height);
  border-radius: calc(var(--form-item-height) / 2);
  border: 1px solid var(--color-border);
  background-color: var(--color-bg-light);

  svg {
    width: 24px;
    color: var(--color-text);
  }
}